{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block body %}

<div class="container text-center">
  <div class="row" style="margin: 10px">
    <div class="col" style="margin: 3px">
      <div class="list-group" style="width: max-content;" id="right1">
        <a href="" class="list-group-item list-group-item-action">
          <i class="bi bi-controller"></i></i>
          <span class="link-name">Gaming</span>
        </a>
        <a href="" class="list-group-item list-group-item-action">
          <i class="bi bi-laptop"></i></i>
          <span class="link-name">Gaming Laptops</span>
        </a>
        <a href="" class="list-group-item list-group-item-action">
          <i class="bi bi-playstation"></i></i>
          <span class="link-name">Gaming Consoles</span>
        </a>
        <a href="" class="list-group-item list-group-item-action">
          <i class="bi bi-pci-card"></i></i>
          <span class="link-name">Future update</span>
        </a>
        <a href="" class="list-group-item list-group-item-action">
          <i class="fa fa-audio-description" aria-hidden="true"></i>
          <span class="link-name">Future update</span>
        </a>
        <a href="" class="list-group-item list-group-item-action">
          <i class="fa fa-cubes" aria-hidden="true"></i>
          <span class="link-name">Future update</span>
        </a>
        <a href="" class="list-group-item list-group-item-action">
          <i class="bi bi-joystick"></i></i>
          <span class="link-name">Future update</span>
        </a>
        <a href="" class="list-group-item list-group-item-action">
          <i class="bi bi-pc-display"></i></i>
          <span class="link-name">Future update</span>
        </a>
        <a href="" class="list-group-item list-group-item-action">
          <i class="bi bi-display"></i></i>
          <span class="link-name">Future update</span>
        </a>
      </div>
    </div>

    <div
      class="col-md-7"
      style="
        margin: 3px;
        background-image: url('../static/images/bgmain.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 800px;
        height: 380px;
        border-radius: 10px;
        position: relative;
      "
    >
      <!-- Overlay -->
      <div
        style="
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(82, 81, 82, 0.5); /* Adjust opacity here */
          border-radius: 10px; /* Match the parent div's border-radius */
        "
      ></div>
      <div style="position: relative; z-index: 1; color: white; padding: 20px">
        <h1
          data-aos="fade-left"
          className="text-uppercase text-white fw-semibold display-1"
        >
          YOU CURATE <br />
          WE BUILD <br />
          YOU PLAY
        </h1>
        <h5 className="text-white mt-3 mb-4" data-aos="fade-right">
          We use the latest generation performance components and configurations
          to get you gaming, fast.
        </h5>
        <button type="button" class="btn btn-outline-danger">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc" viewBox="0 0 16 16">
<path d="M5 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm.5 14a.5.5 0 1 1 0 1 .5.5 0 0 1 0-1m2 0a.5.5 0 1 1 0 1 .5.5 0 0 1 0-1M5 1.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5M5.5 3h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1"></path>
</svg>
          BUILD YOUR PC
        </button>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row" style="background-color: #242424; border-radius: 10px">
        <div class="row" style="display: flex; margin-top: 5px">
          <div class="col">
            <img
              src="../static/images/help.png"
              alt=""
              style="width: 30px; height: 30px; margin-left: -30px"
            />
          </div>
          <div class="col">
            <h6
              style="
                font-family: 'Times New Roman', Times, serif;
                font-size: 12px;
                color: rgb(255, 0, 0);
                margin-left: -40px;
                font-weight: 600;
              "
            >
              HELP CENTER
            </h6>
            <p
              style="
                font-size: small;
                color: white;
                margin-left: -30px;
                margin-top: -10px;
              "
            >
              Customer care
            </p>
          </div>
        </div>

        <div class="row" style="display: flex; margin-top: 5px">
          <div class="col">
            <img
              src="../static/images/return.png"
              alt=""
              style="width: 30px; height: 30px; margin-left: -30px"
            />
          </div>
          <div class="col">
            <h6
              style="
                font-family: 'Times New Roman', Times, serif;
                font-size: 12px;
                color: rgb(255, 0, 0);
                margin-left: -40px;
                font-weight: 600;
              "
            >
              EASY RETURN
            </h6>
            <p
              style="
                font-size: small;
                color: white;
                margin-left: -30px;
                margin-top: -10px;
              "
            >
              Quick Refund
            </p>
          </div>
        </div>

        <div class="row" style="display: flex; margin-top: 5px">
          <div class="col">
            <img
              src="../static/images/payment.png"
              alt=""
              style="width: 30px; height: 30px; margin-left: -30px"
            />
          </div>
          <div class="col">
            <h6
              style="
                font-family: 'Times New Roman', Times, serif;
                font-size: 12px;
                color: rgb(255, 0, 0);
                margin-left: -40px;
                font-weight: 600;
              "
            >
              SELL ON ORAGEN
            </h6>
            <p
              style="
                font-size: small;
                color: white;
                margin-left: -30px;
                margin-top: -10px;
              "
            >
              FBA Program
            </p>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 12px">
        <div
          class="col"
          style="
            margin: 3px;
            background-image: url('../static/images/ll\ rgb\ fans\ GIF\ by\ CORSAIR.gif');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 600px;
            height: 210px;
            border-radius: 10px;
            position: relative;
          "
        >
          <!-- Overlay -->
          <div
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(82, 81, 82, 0.5); /* Adjust opacity here */
              border-radius: 10px; /* Match the parent div's border-radius */
            "
          ></div>
          <!-- Content goes here -->
          <div
            style="position: relative; z-index: 1; color: white; padding: 20px"
          >
            <h5
              data-aos="fade-left"
              className="text-uppercase text-white fw-semibold display-1  "
            >
              RGB FANS
            </h5>
            <h9
              className="text-white mt-3 mb-4"
              data-aos="fade-right"
              style="font-size: smaller"
            >
              The CORSAIR LL RGB fan is a 120mm fan with 16 independent RGB LEDs
              in each fan.
            </h9>

            <!-- Overlay -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row" style="margin: 8px">
      <div
        class="col"
        style="
          display: flex;
          background-color: #242424;
          border-radius: 10px;
          padding: 7px;
          margin: 5px;
        "
      >
      <div
      style="
        position: relative;
        display: inline-block;
        width: 40px;
        height: 100%;
        background-color: rgb(255, 0, 0);
      "
    >
      <img
        src="../static/images/cpu-line.svg"
        alt=""
        style="width: 30px; height: 30px"
      />
    </div>
        <h6 style="margin: 4px; color: white;">CPU</h6>
      </div>
      <div
        class="col"
        style="
          display: flex;
          background-color: #242424;
          border-radius: 10px;
          padding: 7px;
          margin: 5px;
        "
      >
      <div
      style="
        position: relative;
        display: inline-block;
        width: 40px;
        height: 100%;
        background-color: rgb(255, 0, 0);
      "
    >
      <img
        src="../static/images/ram-2-fill.svg"
        alt=""
        style="width: 30px; height: 30px"
      />
    </div>
        <h6 style="margin: 4px; color: white;">RAM</h6>
      </div>
      <div
        class="col"
        style="
          display: flex;
          background-color: #242424;
          border-radius: 10px;
          padding: 7px;
          margin: 5px;
        "
      >
      <div
      style="
        position: relative;
        display: inline-block;
        width: 40px;
        height: 100%;
        background-color: rgb(255, 0, 0);
      "
    >
      <img
        src="../static/images/ram-fill.svg"
        alt=""
        style="width: 30px; height: 30px"
      />
    </div>
        <h6 style="margin: 4px; color: white;">GPU</h6>
      </div>
      <div
        class="col"
        style="
          display: flex;
          background-color: #242424;
          border-radius: 10px;
          padding: 7px;
          margin: 5px;
          position: relative;
        "
      >
        <div
          style="
            position: relative;
            display: inline-block;
            width: 40px;
            height: 100%;
            background-color: rgb(255, 0, 0);
          "
        >
          <img
            src="../static/images/hard-drive-3-fill.svg"
            alt=""
            style="width: 30px; height: 30px"
          />
        </div>
        <h6 style="margin: 4px; color: white;">STORAGE</h6>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <!-- Content goes here -->
    <div style="position: relative; z-index: 1; color: white; padding: 20px">
      <h2
        data-aos="fade-left"
        className="text-uppercase text-white fw-semibold display-1"
      >
        Best sellers
      </h2>
      <h6 className="text-white mt-3 mb-4" data-aos="fade-right">
        Join the thousands of PC gamers who have made ORAGEN’s best-selling PC
        products their go-to choice for top-tier performance, reliability, and
        style.
      </h6>
    </div>
    <div
      class="row"
      style="margin: 8px; background-color: rgba(82, 81, 82, 0.5)"
      id="column"
    >
    {% for item in items %}

      <div class="col" style="background-color: rgba(82, 81, 82, 0.5)">
        <img
          src="{{ item.product_picture }}"
          alt=""
          style="
            height: 200px;
            width: 250px;
            border-radius: 10px;
            margin-top: 10px;
          "
        />

        <div class="row" style="margin-top: 5px">
          <h6 style="color: white">{{ item.product_name }}</h6>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col">
            <h5
              style="
                font-weight: 600;
                font-family: 'Times New Roman', Times, serif;
              "
            >
            Ksh {{ item.current_price }}
            </h5>
            <strike><p style="color: rgb(255, 0, 0)">Ksh {{ item.previous_price}}</p></strike>
          </div>

          <div class="col">
            <a href="/add-to-cart/{{ item.id }}">Add</a>
          </div>
        </div>

        <div class="row">
          <p>{{ item.in_stock }} Units Left</p>
        </div>
      </div>

      {% endfor %}

      </div>
    </div>
  </div>

  {% endblock %}
</div>
